<div class="min-h-screen min-w-screen bg-gradient-to-b from-pink-900 to-green-900">

    <div class="header pt-20">
        <h1 class="text-center text-6xl text-teal-400 font-extrabold">
            
            <span class="text-yellow-300">G</span>A<span class="text-yellow-300">T</span>O

        </h1>

        <h1 class="text-center text-green-600 text-4xl mt-10 font-bold" *ngIf = "!juegoService.ganador">
            Turno de {{juegoService.jugadorActivo}}
        </h1>

        <h1 class="text-center text-green-500 text-4xl mt-10 font-semibold" *ngIf = "juegoService.ganador" [ngClass]="{'text-teal-300' : juegoService.jugadorActivo == 'O'}">
            ¡{{juegoService.jugadorActivo}} ha ganado!
        </h1>
        
        <button class="bg-purple-400 hover:bg-yellow-400 text-dark font-bold py-2 px-4 rounded mx-auto block mt-5" *ngIf="juegoService.juegoAcabado" (click) = "reiniciarJuego()"> 
            Reiniciar 
        </button>

        <app-tablero></app-tablero>

    </div>

</div>